services:
  n8n:
    image: n8nio/n8n:latest
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    restart: always
    ports:
      - "5678:5678"
    volumes:
      - ./n8n_data:/home/node/.n8n
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_PORT=5678
